<div class="container">
    <section class="timeline-wrapper">
        <!-- <h1>A Momentous Journey</h1> -->
        <h1>A Journey <span>of Achievement</span></h1>
        <br><br>
        <swiper-container class="timeline-swiper" effect="coverflow" centered-slides="true" grab-cursor="true"
            mousewheel="true" loop="true" speed="700" slides-per-view="3" coverflow-effect-rotate="0"
            coverflow-effect-stretch="0" coverflow-effect-depth="400" coverflow-effect-modifier="1"
            coverflow-effect-scale="1" coverflow-effect-slide-shadows="false">

            <swiper-slide>
                <div class="timeline-card">
                    <h2>2008-2011</h2>
                    <p>
                        Proven Expertise & Extensive Experience. 18 Years of Industry
                        Presence & Leadership
                    </p>
                    <div class="divider"></div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="timeline-card">
                    <h2>2012-2015</h2>
                    <p>
                        Capability Expansion, Expanded into full MEP scope and added
                        cleanroom and PAC competencies.
                    </p>
                    <div class="divider"></div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="timeline-card">
                    <h2>2016-2019</h2>
                    <p>
                        Structured Growth, Fully Functional ERP, Customised Costing &
                        Estimation Portal, Fully Equipped and advanced Diagnostic &
                        Troubleshooting Equipments
                    </p>
                    <div class="divider"></div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="timeline-card">
                    <h2>2020-2024</h2>
                    <p>
                        Commitment to Quality & Client Satisfaction. Structured Growth, Fully
                        Functional ERP
                    </p>

                    <ul>
                        <li>Outstanding VRV Sales FY 2020-21</li>
                        <li>Highest Quality and Project Management FY 2021-22</li>
                        <li>Outstanding VRV Sales FY 2021-22</li>
                        <li>Outstanding VRV Sales FY 2022-23</li>
                        <li>Outstanding VRV Sales FY 2023-24</li>
                    </ul>

                    <div class="divider"></div>
                </div>
            </swiper-slide>

            <swiper-slide>
                <div class="timeline-card">
                    <h2>2025-Present</h2>
                    <p>Started BrahMos Production</p>
                    <div class="divider"></div>
                </div>
            </swiper-slide>
        </swiper-container>
    </section>
</div>