<!-- <section class="why-choose-us">
  <div class="laptopview">
    <div class="circle-wrapper">

      <div class="main-circle" data-aos="fade-right">
        <h2>Our Core Values</h2>
      </div>

      <div class="image-circle">
        <img src="assets/services/Healthcare & Research Facilities.jpg" alt="Team">
      </div>


      <div class="value value1">
        <div class="icon-circle">
          <img src="/assets/core_value/1.png" width="80" alt="Images">
        </div>
        <div class="content">
          <h4 data-aos="fade-right">GENUINE</h4>
          <p> Our all actions / transaction shall be deeply Genuine.</p>
        </div>
      </div>

  
      <div class="value value2">
        <div class="icon-circle">
          <img src="/assets/core_value/2.png" width="80" alt="Images">
        </div>
        <div class="content">
          <h4 data-aos="fade-left">EFFICIENT</h4>
          <p>Continuous efforts to achieve maximum efficiency with ethical & sustainable means
            through
            innovation /
            adaptation.</p>
        </div>
      </div>

  
      <div class="value value3">
        <div class="icon-circle">
          <img src="/assets/core_value/3.png" width="80" alt="Images">
        </div>
        <div class="content">
          <h4 data-aos="fade-left"> INNOVATIVE & ADAPTIVE</h4>
          <p> Try to do things in a better, more efficient and easier manner by being innovative.
            &
            adaptive.</p>
        </div>
      </div>

      <div class="value value4">
        <div class="icon-circle">
          <img src="/assets/core_value/4.png" width="80" alt="Images">
        </div>
        <div class="content">
          <br>
          <h4 data-aos="fade-right">FOCUSSED AND SOLUTION ORIENTED</h4>
          <p>All the actions should be foucssed on solution and should be objective oriented.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="mobileview">
    <div class="container">
      <br><br>
      <div class="text-center">

        <div class="pointer">
          <p class="coretitle">Our Core Values</p>
          <br>
        </div>

      </div><br> <br>
      <br>
      <div class="row">
        <div class="col-4">
          <div class="icon-circles">
            <img src="/assets/core_value/1.png" width="80" alt="Images">
          </div>
        </div>
        <div class="col-8">
          <div class="">
            <h4 class="coretext" data-aos="fade-right">GENUINE</h4>
            <p> Our all actions / transaction shall be deeply Genuine.</p>
          </div>
        </div> <br>
      </div>
      <br>

      <div class="row">
        <div class="col-4 ">
          <div class="icon-circles">
            <img src="/assets/core_value/2.png" width="80" alt="Images">
          </div>
        </div>
        <div class="col-8">
          <div class="">
            <h4 class="coretext" data-aos="fade-right">EFFICIENT</h4>
            <p>Continuous efforts to achieve maximum efficiency with ethical & sustainable means
              through innovation / adaptation.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4 ">
          <div class="icon-circles">
            <img src="/assets/core_value/3.png" width="80" alt="Images">
          </div>
        </div>
        <div class="col-8">
          <div class="">
            <h4 class="coretext" data-aos="fade-right"> INNOVATIVE & ADAPTIVE</h4>
            <p> Try to do things in a better, more efficient and easier manner by being
              innovative. &
              adaptive.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4 ">
          <div class="icon-circles">
            <img src="/assets/core_value/4.png" width="80" alt="Images">
          </div>
        </div>
        <div class="col-8">
          <div class="">
            <h4 class="coretext" data-aos="fade-right">FOCUSSED AND SOLUTION ORIENTED</h4>
            <p>All the actions should be foucssed on solution and should be objective oriented.
            </p>
          </div>
        </div>
      </div>
      <br>


    </div>
  </div>
</section> -->

<div class="laptopview">

  <div class="circle-wrapper">

    <!-- HVAC IMAGE -->
    <div class="image-circle">
      <img src="assets/services/Healthcare & Research Facilities.jpg" alt="HVAC System">
    </div>


    <!-- CORE VALUES -->
    <div class="main-circle" data-aos="fade-right">
      <h2>
        Our Core<br> Values
      </h2>
    </div>


    <!-- GENUINE -->
    <div class="value value1">

      <div class="icon-circle">
        <img src="/assets/core_value/1.png" alt="Genuine">
      </div>

      <div class="content">

        <h4 data-aos="fade-right">
          GENUINE
        </h4>

        <p>
          Our all actions / transaction shall be deeply Genuine.
        </p>

      </div>

    </div>


    <!-- EFFICIENT -->
    <div class="value value2">

      <div class="icon-circle">
        <img src="/assets/core_value/2.png" alt="Efficient">
      </div>

      <div class="content">

        <h4 data-aos="fade-left">
          EFFICIENT
        </h4>

        <p>
          Continuous efforts to achieve maximum efficiency
          with ethical &amp; sustainable means through
          innovation / adaptation.
        </p>

      </div>

    </div>


    <!-- INNOVATIVE -->
    <div class="value value3">

      <div class="icon-circle">
        <img src="/assets/core_value/3.png" alt="Innovative">
      </div>

      <div class="content">

        <h4 data-aos="fade-left">
          INNOVATIVE &amp; ADAPTIVE
        </h4>

        <p>
          Try to do things in a better, more efficient and
          easier manner by being innovative &amp; adaptive.
        </p>

      </div>

    </div>


    <!-- SOLUTION ORIENTED -->
    <div class="value value4">

      <div class="icon-circle">
        <img src="/assets/core_value/4.png" alt="Solution Oriented">
      </div>

      <div class="content">

        <h4 data-aos="fade-right">
          FOCUSSED AND SOLUTION ORIENTED
        </h4>

        <p>
          All the actions should be focussed on solution
          and should be objective oriented.
        </p>

      </div>

    </div>

  </div>

</div>


<div class="mobileview">
  <div class="container">
    <br><br>
    <div class="text-center">
      <!-- <div class="corevalues" data-aos="fade-right">
                                <h2>Our Core Values</h2>
                            </div> -->
      <div class="pointer">
        <p class="coretitle">Our Core Values</p>
        <br>
      </div>

    </div><br> <br>
    <br>
    <div class="row">
      <div class="col-4">
        <div class="icon-circles">
          <img src="/assets/core_value/1.png" width="80" alt="Images">
        </div>
      </div>
      <div class="col-8">
        <div class="">
          <h4 class="coretext" data-aos="fade-right">GENUINE</h4>
          <p> Our all actions / transaction shall be deeply Genuine.</p>
        </div>
      </div> <br>
    </div>
    <br>

    <div class="row">
      <div class="col-4 ">
        <div class="icon-circles">
          <img src="/assets/core_value/2.png" width="80" alt="Images">
        </div>
      </div>
      <div class="col-8">
        <div class="">
          <h4 class="coretext" data-aos="fade-right">EFFICIENT</h4>
          <p>Continuous efforts to achieve maximum efficiency with ethical & sustainable means
            through innovation / adaptation.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 ">
        <div class="icon-circles">
          <img src="/assets/core_value/3.png" width="80" alt="Images">
        </div>
      </div>
      <div class="col-8">
        <div class="">
          <h4 class="coretext" data-aos="fade-right"> INNOVATIVE & ADAPTIVE</h4>
          <p> Try to do things in a better, more efficient and easier manner by being
            innovative. &
            adaptive.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4 ">
        <div class="icon-circles">
          <img src="/assets/core_value/4.png" width="80" alt="Images">
        </div>
      </div>
      <div class="col-8">
        <div class="">
          <h4 class="coretext" data-aos="fade-right">FOCUSSED AND SOLUTION ORIENTED</h4>
          <p>All the actions should be foucssed on solution and should be objective oriented.
          </p>
        </div>
      </div>
    </div>
    <br>


  </div>
</div>