<!-- <div class="intro-screen" [class.intro-hide]="introFinished" [class.intro-show]="!introFinished">

    <div class="intro-content">
        <div class="intro-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <img src="/assets/whitelogo.png" class="intro-logo" alt="Solar Logo" />

    </div>

</div> -->
<!-- 
<div class="intro-screen" [class.intro-finished]="introFinished">

    <div class="intro-center" [class.logo-zoom-out]="startZoom">

        <img src="/assets/whitelogo.png" class="solar-logo" [class.logo-rotate]="startAnimation"
            [class.logo-move-right]="moveLogo" alt="Solar Logo" />
    </div>

</div> -->


<!-- <div class="website" [class.website-visible]="introFinished">


    <div class="intro-screen" [class.intro-finished]="introFinished">

    <div class="loader-content" [class.move-right]="moveLogo" [class.zoom-out]="startZoom">

        <img src="/assets/Ss.png" class="loader-icon" [class.rotate]="startAnimation" />

        <img src="/assets/whitelogo.png" class="loader-company-logo" />

    </div>

</div> -->

<!-- <div class="intro-screen" [class.intro-finished]="introFinished">

    <div class="intro-center" [class.logo-zoom-out]="startZoom">

        <img src="/assets/Ss.png" alt="Solar Logo" class="solar-logo" [class.logo-rotate]="startAnimation"
            [class.logo-move-right]="moveLogo" />

    </div>

</div> -->

<div
  class="siddhivinayak-loader"
  [class.loader-hide]="loaderFinished"
>

  <!-- LOGO ASSEMBLY -->
  <div
    class="logo-assembly"
    [class.assemble]="startAssembly"
    [class.complete]="logoComplete"
  >

    <img
      src="assets/animation/1.png"
      class="logo-piece piece-1"
      alt=""
    />

    <img
      src="assets/animation/3.png"
      class="logo-piece piece-2"
      alt=""
    />

    <img
      src="assets/animation/2.png"
      class="logo-piece piece-3"
      alt=""
    />

    <img
      src="assets/animation/4.png"
      class="logo-piece piece-4"
      alt=""
    />

  </div>


  <!-- COMPANY NAME -->
  <div
    class="company-name"
    [class.show-name]="showName"
  >
    SIDDHIVINAYK
  </div>

</div>


<!-- YOUR WEBSITE -->
<div
  class="website"
  [class.website-visible]="loaderFinished"
>

  <!-- <app-navbar></app-navbar> -->

  <section class="hero">
    <!-- Your Website Content -->
  </section>

</div>

<!-- <div
  class="siddhivinayak-loader"
  [class.loader-hide]="loaderFinished"
>


  <div
    class="logo-assembly"
    [class.assemble]="startAssembly"
    [class.complete]="logoComplete"
  >

    <img
      src="assets/animation/1.png"
      class="logo-piece piece-1"
      alt=""
    />

    <img
      src="assets/animation/3.png"
      class="logo-piece piece-2"
      alt=""
    />

    <img
      src="assets/animation/2.png"
      class="logo-piece piece-3"
      alt=""
    />

    <img
      src="assets/animation/4.png"
      class="logo-piece piece-4"
      alt=""
    />

  </div>


  <div
    class="company-name"
    [class.show-name]="showName"
  >

    SIDDHIVINAYK

  </div>

</div>


<div
  class="website"
  [class.website-visible]="loaderFinished"
>
  <section class="hero">
  </section>


</div> -->