<!-- <div class="intro-screen" [class.intro-hide]="introFinished" [class.intro-show]="!introFinished">

    <div class="intro-content">
        <div class="intro-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <img src="/assets/whitelogo.png" class="intro-logo" alt="Solar Logo" />

    </div>

</div> -->
<!-- 
<div class="intro-screen" [class.intro-finished]="introFinished">

    <div class="intro-center" [class.logo-zoom-out]="startZoom">

        <img src="/assets/whitelogo.png" class="solar-logo" [class.logo-rotate]="startAnimation"
            [class.logo-move-right]="moveLogo" alt="Solar Logo" />
    </div>

</div> -->


<!-- <div class="website" [class.website-visible]="introFinished">


    <div class="intro-screen" [class.intro-finished]="introFinished">

    <div class="loader-content" [class.move-right]="moveLogo" [class.zoom-out]="startZoom">

        <img src="/assets/Ss.png" class="loader-icon" [class.rotate]="startAnimation" />

        <img src="/assets/whitelogo.png" class="loader-company-logo" />

    </div>

</div> -->

<div class="intro-screen" [class.intro-finished]="introFinished">

    <div class="intro-center" [class.logo-zoom-out]="startZoom">

        <img src="/assets/Ss.png" alt="Solar Logo" class="solar-logo" [class.logo-rotate]="startAnimation"
            [class.logo-move-right]="moveLogo" />

    </div>

</div>