<br>
<br>



<!-- <section class="hero-slider">
    <div class="splitting" [class.animate]="isAnimating" [style.--row-total]="1" [style.--col-total]="5">
        <div class="cell-grid">
            <div class="cell" *ngFor="let cell of cells" [style.--row-index]="cell.row" [style.--col-index]="cell.col">
                <div class="cell-inner" [style.background-image]=" 'url(' + slides[activeSlide].image + ')'"></div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="hero-slider">
    <div class="splitting" [ngClass]="slides[activeSlide].animation" [class.animate]="isAnimating">
        <div class="cell-grid">
            <div class="cell" *ngFor="let cell of cells" [style.--col-index]="cell.col">
                <div class="cell-inner" [style.background-image]="
                        'url(' + slides[activeSlide].image + ')'
                    ">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="hero-slider">

    <div class="hero-image" [style.background-image]="'url(' + slides[activeSlide].image + ')'"></div>

    <div class="splitting" [ngClass]="slides[nextSlideIndex].animation" [class.animate]="isAnimating">
        <div class="cell-grid">

            <div class="cell" *ngFor="let cell of cells" [style.--col-index]="cell.col">
                <div class="cell-inner" [style.background-image]="
            'url(' + slides[nextSlideIndex].image + ')'
          "></div>
            </div>

        </div>
    </div>

</section> -->

<!-- <section class="hero-slider">

    <div class="hero-bg current" [style.background-image]="
            'url(' + slides[activeSlide].image + ')'
        ">
    </div>

    <div class="hero-bg next" [class.show]="isAnimating" [style.background-image]="
            'url(' + slides[nextSlideIndex].image + ')'
        ">
    </div>

</section> -->

<!-- <section class="hero-slider">

    <div class="splitting"
         [class.animate]="isAnimating"
         [style.--col-total]="cols">

        <div class="cell-grid">

            <div class="cell"
                 *ngFor="let cell of cells"
                 [style.--col-index]="cell.col">

                <div class="cell-inner"
                     [style.background-image]="
                        'url(' + slides[activeSlide].image + ')'
                     ">
                </div>

            </div>

        </div>

    </div>

</section> -->
 <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card ios-glass-view">
                <div class="card-body">
                    <div class="text-center">
                        <h1>WEBSITE SITEMAP</h1>
                    </div>
                    <br>

                    <ul>
                        <li><a href="">Siddhivinayak Engineering</a> </li> <br>
                        <li [routerLink]="['/Home']"><a href="/Home">Home</a> </li><br>
                        <li [routerLink]="['/About']"><a href="/About">About Us </a></li> <br>
                        <li [routerLink]="['/Projects']"><a href="/Projects">Projects </a></li> <br>
                        <li [routerLink]="['/Casestudies']"><a href="/Casestudies">Case Studies </a></li> <br>
                        <li [routerLink]="['/Career']"><a href="/Career">Career</a> </li> <br>
                        <li [routerLink]="['/Culture']"><a href="/Culture">Culture</a> </li> <br>
                        <li [routerLink]="['/Contact']"><a href="/Contact">Contact</a> </li> <br>
                        <li [routerLink]="['/Air_Cooled&Water-Cooled_Chiller_Plants']"><a
                                href="/Air_Cooled&Water-Cooled_Chiller_Plants">Air Cooled & Water-Cooled Chiller
                                Plants</a> </li> <br>
                        <li [routerLink]="['/VRVVRF_SYSTEMS']"><a href="/VRVVRF_SYSTEMS">VRV / VRF Systems</a> </li>
                        <br>
                        <li [routerLink]="['/EVAPORATIVE_COOLING']"><a href="/EVAPORATIVE_COOLING">Evaporative
                                Cooling</a> </li> <br>
                        <li [routerLink]="['/FORCED_VENTILATION']"><a href="/FORCED_VENTILATION">Forced Ventilation</a>
                        </li> <br>
                        <li [routerLink]="['/COMFORT_AIR_CONDITIONING']"><a href="/COMFORT_AIR_CONDITIONING">Comfort Air
                                Conditioning</a> </li> <br>
                        <li [routerLink]="['/PRECISION_AIR_CONDITIONING']"><a
                                href="/PRECISION_AIR_CONDITIONING">Precision Air Conditioning </a> </li> <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<br><br>