<br>
<br>



<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card ios-glass-view">
                <div class="card-body">
                    <div class="text-center">
                        <h1>WEBSITE SITEMAP</h1>
                    </div>
                    <br>

                    <ul>
                        <li><a href="">Siddhivinayak Engineering</a> </li> <br>
                        <li [routerLink]="['/Home']"><a href="/Home">Home</a> </li><br>
                        <li [routerLink]="['/About']"><a href="/About">About Us </a></li> <br>
                        <li [routerLink]="['/Projects']"><a href="/Projects">Projects </a></li> <br>
                        <li [routerLink]="['/Casestudies']"><a href="/Casestudies">Case Studies </a></li> <br>
                        <li [routerLink]="['/Career']"><a href="/Career">Career</a> </li> <br>
                        <li [routerLink]="['/Culture']"><a href="/Culture">Culture</a> </li> <br>
                        <li [routerLink]="['/Contact']"><a href="/Contact">Contact</a> </li> <br>
                        <li [routerLink]="['/Air_Cooled&Water-Cooled_Chiller_Plants']"><a
                                href="/Air_Cooled&Water-Cooled_Chiller_Plants">Air Cooled & Water-Cooled Chiller
                                Plants</a> </li> <br>
                        <li [routerLink]="['/VRVVRF_SYSTEMS']"><a href="/VRVVRF_SYSTEMS">VRV / VRF Systems</a> </li>
                        <br>
                        <li [routerLink]="['/EVAPORATIVE_COOLING']"><a href="/EVAPORATIVE_COOLING">Evaporative
                                Cooling</a> </li> <br>
                        <li [routerLink]="['/FORCED_VENTILATION']"><a href="/FORCED_VENTILATION">Forced Ventilation</a>
                        </li> <br>
                        <li [routerLink]="['/COMFORT_AIR_CONDITIONING']"><a href="/COMFORT_AIR_CONDITIONING">Comfort Air
                                Conditioning</a> </li> <br>
                        <li [routerLink]="['/PRECISION_AIR_CONDITIONING']"><a
                                href="/PRECISION_AIR_CONDITIONING">Precision Air Conditioning </a> </li> <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>