<app-navbar></app-navbar>


    <p class="btn-oranges">
        <i class="bi bi-calendar2-minus"></i> <span class="text-start" [routerLink]="['/Contact']" fragment="Contactus" (click)="scroll()">
            Request a Site Assessment
        </span> 
    </p>
<ul class="menu">
    <p>
        <a href="https://wa.me/+919970641757?text=Hi SVESPL, I’d like to discuss a project."
            aria-label="Read more about" target="_blank">
            <span>
                <i class="fa-brands fa-whatsapp icon"></i>
            </span>
       
        </a>
    </p>
</ul>

<router-outlet></router-outlet>
<app-footer></app-footer>