<div class="aboutbackground">
    <div class="container">
        <!-- Top Heading -->
        <div class="heading-area">
            <p class="small-title">
                <span></span>ENGINEERING SERVICES
            </p>

            <h1>Complete HVAC & MEP solutions for
                <span>high-performance infrastructure.</span> <br>
            </h1>
            <br>
            <p class="desc">
                From system design to long-term maintenance, SVESPL delivers engineered HVAC
                and MEP solutions across industrial, commercial and critical environments.
            </p>
        </div>
        <br>
        <div class="btn-area">

            <a class="btn btn-lg btn-orange" (click)="scroll()" [routerLink]="['/Contact']">
                Request a Site Assessment
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="capability">
    <div class="container">
        <div class="row">
            <div class="capabilityheading">
                <p class="capability-title">
                    <span></span>CAPABILITY OVERVIEW
                </p>
                <h1>A complete engineering capability,
                    <span>structured for execution.</span>
                </h1>
                <p class="description">Four focused capability groups-covering high-performance HVAC, controlled
                    environments, engineering
                    advisory and lifecycle support - deliverd end yo end nyin-house engineering teams.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="environments">
    <div class="container">
        <div class="row">
            <div class="enviromentheading">
                <p class="environment-title">
                    <span></span>OPERATING ENVIRONMENTS
                </p>
                <h1>Where our systems
                    <span>operate.</span>
                </h1>
                <p class="description">Engineered for environments where downtime, contamination or thermal instability
                    carry
                    real operational consequences.
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2 operate">
                <div class="bg-image hover-zoom">
                    <img src="/assets/services/Data Centres.jpg" class="card-img-top"  alt="Project">
                    <div class="mask" style="background-color: rgba(15, 15, 15, 0.404);">
                        <div class="texts">
                            <div class="centers">
                                <span class="">PRECISION COOLING</span>
                            </div>
                            <div class="projects">
                                <span class="text-bg">Data Centres</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-2 operate">
                <div class="bg-image hover-zoom">
                    <img src="/assets/services/Pharmaceutical & Cleanroom Facilities.jpg" class="card-img-top"  alt="Project">
                    <div class="mask" style="background-color: rgba(10, 10, 10, 0.548);">
                        <div class="texts">
                            <div class="centers">
                                <span class="">CONTAMINATION CONTROL</span>
                            </div>
                            <div class="projects">
                                <span class="text-bg">Pharmaceutical & Cleanroom Facilites</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-2 operate">
                <div class="bg-image hover-zoom">
                    <img src="/assets/services/Industrial Manufacturing Plants.jpeg" class="card-img-top"  alt="Project">
                    <div class="mask" style="background-color: rgba(15, 15, 15, 0.616);">
                        <div class="texts">
                            <div class="centers">
                                <span class="">HIGH-LOAD HVAC</span>
                            </div>
                            <div class="projects">
                                <span class="text-bg">Industrial Manufacturing Plants</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-2 operate">
                <div class="bg-image hover-zoom">
                    <img src="/assets/services/Commercial & Corporate Developments.jpg" class="card-img-top"  alt="Project">
                    <div class="mask" style="background-color: rgba(15, 15, 15,  0.616);">
                        <div class="texts">
                            <div class="centers">
                                <span class="">CONTROLLED AIR QUALITY</span>
                            </div>
                            <div class="projects">
                                <span class="text-bg">Commercial & Corporate Developments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-2 operate">
                <div class="bg-image hover-zoom">
                    <img src="/assets/services/Healthcare & Research Facilities.jpg" class="card-img-top"  alt="Project">
                    <div class="mask" style="background-color: rgba(15, 15, 15, 0.479);">
                        <div class="texts">
                            <div class="centers">
                                <span class="">CRITICAL ENVIRONMENT CONTROL</span>
                            </div>
                            <div class="projects">
                                <span class="text-bg">Healthcare & Research Facilities</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-2 operate">
                <div class="bg-image hover-zoom">
                    <img src="/assets/services/Residential Developments.jpg" class="card-img-top"  alt="Project">
                    <div class="mask" style="background-color: rgba(15, 15, 15, 0.616);">
                        <div class="texts">
                            <div class="centers">
                                <span class="">RESIDENTIAL COMFORT SYSTEMS</span>
                            </div>
                            <div class="projects">
                                <span class="text-bg">Residential Developments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

        </div>
    </div>
</div>

<div class="">
    <div class="capability1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardcapability">
                        <div class="card-body">
                            <span class="titlecapability">CAPABILITY 01</span>
                            <p class="capabilititle">Advanced HVAC Systems</p>
                            <p class="textpara">High-performance cooling for large-scale and continuously operating
                                facilities.</p>
                            <hr>
                            <span class="typical">TYPICAL APPLICATIONS</span> <br>
                            <span class="typicalpoint"><span></span> Data Centres</span> <br>
                            <span class="typicalpoint"><span></span> Corporate Campuses</span><br>
                            <span class="typicalpoint"><span></span> Manufacturing Plants</span><br>
                            <span class="typicalpoint"><span></span> Healthcare Facilities</span><br>
                            <span class="typicalpoint"><span></span> Commercial Buildings</span><br>
                            <hr>

                            <span class="typical">RELATED PROJECTS</span> <br>
                            <span class="relatedproject" [routerLink]="['/Projects']"><i
                                    class="bi bi-arrow-up-right"></i> Pune Metro Line 3 - Air
                                Conditioning & Ventilation</span> <br>
                            <span class="relatedproject" [routerLink]="['/Projects']"><i
                                    class="bi bi-arrow-up-right"></i> Amanora Township - VRF Air
                                Conditioning</span><br>
                            <hr>

                            <span class="referencetypical">REFERENCE PROJECT</span> <br>
                            <span class="locations" [routerLink]="['/Projects']"><i class="bi bi-geo-alt"></i>
                                <b>Emerson Innovation Centre·
                                    Pune</b></span> <br>

                            <span class="typical">SYSTEM DELIVERED</span> <br>
                            <span class="referencepoints">1200 HP VRF / VRV system engineered for high-reliability
                                operations.</span>
                            <br>
                            <span class="typical">EXECUTION CONTEXT</span> <br>
                            <span class="referencepoints">Deployed within a live innovation facility without disruption
                                to
                                ongoing engineering activity.</span>
                            <br>
                            <span class="typical">PERFORMANCE OUTCOME </span> <br>
                            <span class="referencepoints">Stabilised system performance with reduced maintenance
                                dependency
                                under continuous load.</span>

                        </div>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-snow"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">VRV / VRF Systems </span> <br>
                                    <span class="textpara">Variable refrigerant systems for zoned, energy-efficient
                                        comfort
                                        across complex floor plates.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-wind"></i>

                                        </div>
                                    </div><br>
                                    <span class="titles">Chilled Water Systems</span> <br>
                                    <span class="textpara">Centralised plants engineered for sustained high-load thermal
                                        performance.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-wrench-adjustable"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles">HVAC Fitouts & Retrofits</span> <br>
                                    <span class="textpara">End-to-end installation, replacement and upgrade execution
                                        within
                                        live environments.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-gear-wide-connected"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles">MEP Contracting</span> <br>
                                    <span class="textpara">Integrated mechanical, electrical and plumbing project
                                        delivery
                                        under a single program.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="capability2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardcapability">
                        <div class="card-body">
                            <span class="titlecapability">CAPABILITY 02</span>
                            <p class="capabilititle">Critical & Controlled Environments</p>
                            <p class="textpara">Compliance, precision and contamination control for regulated
                                industries.
                            </p>
                            <hr>
                            <span class="typical">TYPICAL APPLICATIONS</span> <br>
                            <span class="typicalpoint"><span></span> Pharmaceutical Facilities</span> <br>
                            <span class="typicalpoint"><span></span> Biotech & Research Labs</span><br>
                            <span class="typicalpoint"><span></span> Hospitals & Healthcare</span><br>
                            <span class="typicalpoint"><span></span> Electronics Manufacturing</span><br>
                            <span class="typicalpoint"><span></span> Government Research</span><br>
                            <hr>

                            <span class="typical">RELATED PROJECTS</span> <br>
                            <span class="relatedproject" [routerLink]="['/Projects']"><i
                                    class="bi bi-arrow-up-right"></i> Emerson Innovation Centre -
                                VRF
                                System Modernisation</span> <br>
                            <hr>

                            <span class="referencetypical">REFERENCE PROJECT</span> <br>
                            <span class="locations" [routerLink]="['/Projects']"><i class="bi bi-geo-alt"></i> <b>Pune
                                    Metro Line 3 · Pune</b></span>
                            <br>

                            <span class="typical">SYSTEM DELIVERED</span> <br>
                            <span class="referencepoints">Large-scale HVAC and ventilation systems across multi-station
                                infrastructure.</span>
                            <br>
                            <span class="typical">EXECUTION CONTEXT</span> <br>
                            <span class="referencepoints">Coordinated multi-site execution under evolving programme and
                                stakeholder conditions.</span>
                            <br>
                            <span class="typical">PERFORMANCE OUTCOME </span> <br>
                            <span class="referencepoints">Sustained delivery continuity and consistent system
                                performance
                                across all active zones</span>

                        </div>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-shield-check"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">Turnkey Cleanroom Solutions </span> <br>
                                    <span class="textpara">Design-build cleanrooms engineered to GMP and ISO 14644
                                        classifications.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-thermometer"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">Precision Air Conditioning (PAC)</span> <br>
                                    <span class="textpara">Close-control cooling for server rooms, lab and process
                                        environments.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-boxes"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles"> Cleanroom Equipment</span> <br>
                                    <span class="textpara">Pass boxes, AHUs, HEPA modules and ancillary
                                        contamination-control systems.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-database-fill-check"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles">Validation & Compliance Support</span> <br>
                                    <span class="textpara">DQ / IQ / OQ / PQ documentation aligned to GMP and ISO 14644
                                        protocols.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="capability3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardcapability">
                        <div class="card-body">
                            <span class="titlecapability">CAPABILITY 03</span>
                            <p class="capabilititle">Air Quality, Efficiency & Engineering</p>
                            <p class="textpara">Performance optimisation, design depth and regulatory alignment.</p>
                            <hr>
                            <span class="typical">TYPICAL APPLICATIONS</span> <br>
                            <span class="typicalpoint"><span></span> IT Parks & Corporate</span> <br>
                            <span class="typicalpoint"><span></span> Industrial Plants</span><br>
                            <span class="typicalpoint"><span></span> Infrastructure Projects</span><br>
                            <span class="typicalpoint"><span></span> Mixed-Use Developments</span><br>
                            <span class="typicalpoint"><span></span> Government Buildings</span><br>
                            <hr>

                            <span class="typical">RELATED PROJECTS</span> <br>
                            <span class="relatedproject" [routerLink]="['/Projects']"><i
                                    class="bi bi-arrow-up-right"></i> Pune Metro Line 3 - Air
                                Conditioning & Ventilation </span> <br>
                            <span class="relatedproject" [routerLink]="['/Projects']"><i
                                    class="bi bi-arrow-up-right"></i> Emerson Innovation Centre -
                                VRF
                                System Modernisation</span><br>
                            <hr>

                            <span class="referencetypical">REFERENCE PROJECT</span> <br>
                            <span class="locations" [routerLink]="['/Projects']"><i class="bi bi-geo-alt"></i>
                                <b>Amanora Township· Pune</b></span> <br>

                            <span class="typical">SYSTEM DELIVERED</span> <br>
                            <span class="referencepoints">2000+ HP VRF system across high-rise residential
                                towers.</span>
                            <br>
                            <span class="typical">EXECUTION CONTEXT</span> <br>
                            <span class="referencepoints">Phased installation aligned with occupancy timelines and
                                vertical
                                infrastructure constraints.</span>
                            <br>
                            <span class="typical">PERFORMANCE OUTCOME </span> <br>
                            <span class="referencepoints">Stable system performance with controlled execution across
                                large-scale deployment.</span>

                        </div>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-speedometer2"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">Ventilation & IAQ Systems</span> <br>
                                    <span class="textpara">Indoor air quality engineering compliant with ASHRAE
                                        standards.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-upc"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">Energy Auditing</span> <br>
                                    <span class="textpara">Detailed audits to reduce operating cost, carbon load and
                                        lifecycle expense.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-pencil-square"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles">Design & Consulting</span> <br>
                                    <span class="textpara">MEP design, load calculations and specification advisory led
                                        by
                                        senior engineers.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-sliders2-vertical"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles">Performance Optimisation</span> <br>
                                    <span class="textpara">System balancing and retrofits to recover lost efficiency in
                                        operating systems.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="capability4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardcapability">
                        <div class="card-body">
                            <span class="titlecapability">CAPABILITY 04</span>
                            <p class="capabilititle">Lifecycle Support & Reliability</p>
                            <p class="textpara">Uptime, reliability and long-term performance through structured
                                maintenance.
                            </p>
                            <hr>
                            <span class="typical">TYPICAL APPLICATIONS</span> <br>
                            <span class="typicalpoint"><span></span> Data Centres</span> <br>
                            <span class="typicalpoint"><span></span> Pharmaceutical Plants</span><br>
                            <span class="typicalpoint"><span></span> Hospitals</span><br>
                            <span class="typicalpoint"><span></span> Commercial Towers</span><br>
                            <span class="typicalpoint"><span></span> Industrial Facilities</span><br>
                            <hr>
                            <span class="typical">RELATED PROJECTS</span> <br>
                            <span class="relatedproject" [routerLink]="['/Projects']"><i
                                    class="bi bi-arrow-up-right arrow"></i> Emerson Innovation Centre -
                                VRF
                                System Modernisation</span> <br>
                            <hr>

                            <span class="referencetypical">REFERENCE PROJECT</span> <br>
                            <span class="locations" [routerLink]="['/Projects']"><i class="bi bi-geo-alt"></i>
                                <b>Amanora Township· Pune</b></span>
                            <br>

                            <span class="typical">SYSTEM DELIVERED</span> <br>
                            <span class="referencepoints">Multi-system AMC and condition-monitoring programme across
                                residential towers.</span>
                            <br>
                            <span class="typical">EXECUTION CONTEXT</span> <br>
                            <span class="referencepoints">Structured maintenance windows aligned with continuous
                                occupancy
                                and access constraints.</span>
                            <br>
                            <span class="typical">PERFORMANCE OUTCOME </span> <br>
                            <span class="referencepoints">Sustained uptime and reliable system health across reporting
                                cycles.</span>

                        </div>
                    </div>
                    <br>
                </div><br>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-window-plus"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">Annual Maintenance Contracts </span> <br>
                                    <span class="textpara">Preventive maintenance programs with SLA-backed response
                                        windows.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-exclamation-triangle"></i>
                                        </div>
                                    </div><br>
                                    <span class="titles">Repair & Emergency Services</span> <br>
                                    <span class="textpara">Rapid-response repair for breakdowns and critical outages.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-box-seam"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles"> Spares & Component Supply</span> <br>
                                    <span class="textpara">OEM spares, filters and consumables stocked for uptime
                                        continuity.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-6 subcapabilities">
                            <div class="suncapability">
                                <div class="capabilitycard-body">
                                    <div class="capabilitiyicons">
                                        <div class="iconcapability">
                                            <i class="bi bi-activity"></i>
                                        </div>
                                    </div>
                                    <br>
                                    <span class="titles">Condition Monitoring</span> <br>
                                    <span class="textpara">Periodic inspection reports with corrective recommendations
                                        and trend tracking.
                                    </span>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clients">
    <div class="container">
        <div class="row">
            <div class="clientheading">
                <p class="capability-title">
                    <span></span>CLIENT PERSPECTIVES
                </p>
                <h1>How our execution is
                    <span>experienced on-site.</span>
                </h1>
            </div>
        </div>

        <div class="clientreviews">
            <hr>
            <p class="review">“Our cleanroom expansion required strict compliance and zero room for documentation
                errors. The team
                handled
                both execution and validation with precision, which made the audit process significantly smoother.”</p>
            <span class="name"><i class="bi bi-dash"></i>RAJESH KULKARNI </span> <span class="position"> Head of
                Facilities (Pharmaceutical Manufacturing)</span>
            <hr>

            <p class="review">“We needed a system upgrade in a live data centre environment where downtime wasn't an
                option. The transition was executed seamlessly, and system stability has been consistent since.”</p>
            <span class="name"><i class="bi bi-dash"></i>ANITA DESHMUKH </span> <span class="position">Project Director
                (Data Centre Infrastructure)</span>
            <hr>

            <p class="review">“The scale and coordination required for our infrastructure project were significant. What
                stood out was their ability to maintain execution continuity despite changing site conditions.”</p>
            <span class="name"><i class="bi bi-dash"></i>PRAKASH NAIR </span> <span class="position">Project Lead (Urban
                Infrastructure)</span>
            <hr>

            <p class="review">“Our manufacturing facility was facing performance inconsistencies and rising maintenance
                concerns. The solution delivered improved stability and noticeably reduced operational issues.”</p>
            <span class="name"><i class="bi bi-dash"></i>SANDEEP PATIL </span> <span class="position">Plant Engineering
                Manager (Industrial Manufacturing)</span>
            <hr>

            <p class="review">“The project required careful alignment with phased occupancy and ongoing operations.
                Execution was well-planned, and the system has been performing reliably across all zones.”</p>
            <span class="name"><i class="bi bi-dash"></i>VIVEK SHARMA </span> <span class="position">Procurement Head
                (Commercial Development)</span>
            <hr>

            <p class="review">“System handover, performance stability, and post-installation support were all handled
                with clarity. The overall execution experience was structured and dependable.”</p>
            <span class="name"><i class="bi bi-dash"></i>NEHA JOSHI </span> <span class="position">Operations Manager
                (Healthcare Facility)
            </span>
            <hr>

        </div>

    </div>
</div>

<div class="lastcontactsection">

    <div class="container">
        <div class="">
            <div class="lastheading-area">
                <p class="last-title">
                    <span></span>EXECUTION FRAMEWORK
                </p>
                <p class="h1"> <span class="plan">How our engineering translates into </span>
                    <span class="start">execution.</span>
                </p>
                <p class="desc">Each service is deliverd through a structured execution framework that ensures
                    performance, compliance and long-term reliablity-not just installation.
                </p>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-2 cards">
                    <div class="card-body">
                        <div class="icons">
                            <div class="icon">
                                <i class="bi bi-stack"></i>
                            </div>
                        </div><br>

                        <p class="subtitle">Engineering-led Planning</p>
                        <p class="para">Load calaculations, system selection and feasibility defined before execution
                            begins.</p>
                        <hr>
                        <p class="lasttext">SENIOR-ENGINEER REVIEW ON EVERY DESIGN PACKAGE. </p>
                    </div>
                </div><br>
                <div class="col-md-2 cards">
                    <div class="card-body">
                        <div class="icons">
                            <div class="icon">
                                <i class="bi bi-people"></i>
                            </div>
                        </div><br>

                        <p class="subtitle">Integrated Project Execution</p>
                        <p class="para">HVAC, MEP and controls delivered through coordinated in-house teams.</p>
                        <hr>
                        <p class="lasttext">IN-HOUSE ENGINEERING-NO OUTSOURCING. </p>
                    </div>
                </div><br>

                <div class="col-md-2 cards">
                    <div class="card-body">
                        <div class="icons">
                            <div class="icon">
                                <i class="bi bi-speedometer2"></i>
                            </div>
                        </div><br>

                        <p class="subtitle">Performance validation</p>
                        <p class="para">System balancing, testing and compliance verification before handover.</p>
                        <hr>
                        <p class="lasttext">DOCUMENTATION COMMISSIONING PROTOCOLS.</p>
                    </div>
                </div><br>

                <div class="col-md-2 cards">
                    <div class="card-body">
                        <div class="icons">
                            <div class="icon">
                                <i class="bi bi-bezier2"></i>
                            </div>
                        </div><br>

                        <p class="subtitle">Operational Readiness</p>
                        <p class="para">Systems deliverd ready for real-world load, uptime and usage
                            conditions.</p>
                        <hr>
                        <p class="lasttext">EXP-TRACKED EXECUTION ACROSS ALL PEOJECTS.</p>
                    </div>
                </div><br>

                <div class="col-md-2 cards">
                    <div class="card-body">
                        <div class="icons">
                            <div class="icon">
                                <i class="bi bi-life-preserver"></i>
                            </div>
                        </div><br>

                        <p class="subtitle">Lifecycle Continuity</p>
                        <p class="para">Seamless transition into maintenance, monitoring and optimisation.</p> <br>
                        <hr>
                        <p class="lasttext">AMC HANDOVER WITH FULL ASSET HISTORY.</p>
                    </div>
                </div><br>

            </div>
        </div>

    </div>
    <br><br><br>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="">
                <div class="lastheading-area">
                    <p class="last-title">
                        <span></span>GET STARTED
                    </p>
                    <p class="h1"> <span class="plan">Planning an HVAC or MEP Project? </span>
                        <span class="start">Start with a Site Assessment.</span>
                    </p>
                    <p class="desc">Share your project scope and our engineering team will visit your site,
                        conduct a <br> detailed survey and return with a feasibility report and indicative budget.
                    </p>
                </div>
            </div><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"><br><br>
                        <div> <i class="bi bi-shield-check"></i> <span class="assessmentcontent"> No-obligation site
                                assessment</span></div>
                        <div> <i class="bi bi-clock"></i> <span class="assessmentcontent"> Response within working
                                hours</span></div> <br><br>
                    </div><br>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <span class="speak">SPEAK WITH ENGINEERING</span> <br>
                                <span><a href="tel:+919970641757" class="mobilenumbers"><i class="bi bi-telephone"></i>
                                        +91 9970641757</a></span>
                                <br> <span class="times">Mon-Sat 9:00 AM - 7:00 PM IST</span>
                                <br><br>
                                <p class="btn-oranges">
                                    <span class="text-start" (click)="scroll()" [routerLink]="['/Contact']">
                                        Request a Site Assessment
                                    </span> <i class="bi bi-arrow-right enquirybtn"></i>
                                </p>
                                <p class="btn-chats">
                                    <span class="text-start">
                                        <i class="bi bi-chat"></i> <a
                                            href="https://wa.me/+919970641757?text=Hi SVESPL, I’d like to discuss a project."
                                            data-mdb-toggle="tooltip" data-mdb-placement="top"
                                            aria-label="Read more about" target="_blank"
                                            title="Connect Through Whatsapp"> Chat on WhatsApp </a>
                                    </span> <i class="bi bi-arrow-right enquirybtn" style="color: black;"></i>
                                </p>
                            </div>
                        </div>
                    </div><br>
                </div>
            </div>

        </div>
    </div>
</div>