.backgroundimage {
    width: 100%;
}

.paratext {
    font-size: 3em;
    color: white;
    padding: 12% 5% 0% 5%;
    font-family: 'Custom';
}

.textparagraph {
    color: white;
    font-size: 25px;
    font-family: 'FontCustom';
}
