<div>
    <div class="bg-image">
        <img src="/assets/ab.png" class="backgroundimage" alt="">
        <div class="mask" style="background-color: rgba(27, 27, 27, 0.507);">
            <div class="justify-content-center align-items-center">
                <div class="text-center">
                    <div class="Mainheadline">
                        <p class="paratext">Industries</p>
                        <p class="textparagraph">Request a Site Assessment or Project Consultation </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/industries/s1.png" class="card-img-top" alt="Pharmaceutical & Cleanrooms Image">
                <div class="card-body">
                    <h5 class="card-title"> Pharmaceutical & Cleanrooms</h5>
                    <p class="card-text">Precision-controlled environments designed for GMP compliance and
                        contamination-free operations.</p>
                    <a href="#" class="btn btns">Explore Solutions</a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/industries/s2.png" class="card-img-top" alt="Data Centres & Server Rooms Image">
                <div class="card-body">
                    <h5 class="card-title">Data Centres & Server Rooms</h5>
                    <p class="card-text"> High-reliability cooling systems engineered to maintain uptime and
                        prevent thermal risk.</p>
                    <a href="#" class="btn btns">Explore Solutions</a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/industries/s3.png" class="card-img-top" alt="Corporate Offices & IT Parks Image">
                <div class="card-body">
                    <h5 class="card-title">Corporate Offices & IT Parks</h5>
                    <p class="card-text">Energy-efficient HVAC systems that enhance comfort while reducing
                        operational costs.</p>
                    <a href="#" class="btn btns">Explore Solutions</a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/industries/s4.png" class="card-img-top" alt="Industrial & Manufacturing Image">
                <div class="card-body">
                    <h5 class="card-title"> Industrial & Manufacturing</h5>
                    <p class="card-text">Robust ventilation and climate systems built for high-load production
                        environments.</p>
                    <a href="#" class="btn btns">Explore Solutions</a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card">
                <img src="/assets/industries/s5.png" class="card-img-top" alt="Government & Research Facilities Image">
                <div class="card-body">
                    <h5 class="card-title"> Government & Research Facilities</h5>
                    <p class="card-text">Standards-compliant MEP systems designed for audits, safety, and
                        long-term performance.</p>
                    <a href="#" class="btn btns">Explore Solutions</a>
                </div>
            </div>
            <br>
        </div>
        <br>

        <div class="col-md-2"></div>

    </div>
</div> -->