<div class="main">
    <div class="container"><br>
        <div class="row">
            <div class="col-md-5 footerlogo">
                <img src="/assets/Newfooterlogo.png" width="70%" alt="">
                <br><br>
                <p>Siddhivinayak Engineering Solution Pvt.Ltd.- Pune based HVAC & MEP contractor delivering critical
                    infrastructure projects across india for over 18 years.</p>

                <div> <i class="bi bi-geo-alt"></i> <span class="addresscontent"> Office No. 404, 4th Floor, Anand
                        Square, Sakore Nagar, Viman Nagar, Pune, Maharashtra</span>
                </div>
                <div>
                    <a href="tel:+919970641757" class="Phoneno"><i class="bi bi-telephone"></i> <span
                            class="assessmentcontent"> +91 99706 41757</span> </a>
                </div>
                <div> <i class="bi bi-envelope"></i> <span class="assessmentcontent"> sales@svespl.in</span>
                </div>
                <!-- <b><i class="bi bi-geo-alt assessmentcontent"></i> </b> Office No. 404, 4th Floor, Anand
                    Square, Sakore Nagar, Viman Nagar, Pune, Maharashtra <br> -->
                <!-- <b><i class="bi bi-telephone"></i> </b> +91 96041 56757 <br> -->
                <!-- <b><i class="bi bi-envelope"></i> </b> contact@svespl.in -->

            </div><br>

            <div class="col-md-2">
                <p class="headlineservice">SOLUTIONS</p>
                <p class="services " [routerLink]="['/Air_Cooled&Water-Cooled_Chiller_Plants']">Air Cooled &
                    Water-Cooled Chiller Plants</p>
                <p class="services " [routerLink]="['/VRVVRF_SYSTEMS']">VRV / VRF Systems</p>
                <p class="services " [routerLink]="['/TURNKEY_CLEAN_ROOM_SOLUTION']">Turnkey Clean Room Solution</p>
                <p class="services " [routerLink]="['/EVAPORATIVE_COOLING']">Evaporative Cooling</p>
                <p class="services " [routerLink]="['/FORCED_VENTILATION']">Forced Ventilation</p>
                <p class="services " [routerLink]="['/COMFORT_AIR_CONDITIONING']">Comfort Air Conditioning</p>
                <p class="services " [routerLink]="['/PRECISION_AIR_CONDITIONING']">Precision Air Conditioning</p>
            </div>
            <br>
            <div class="col-md-2">
                <p class="headlineservice">INDUSTRIES</p>
                <p class="services" [routerLink]="['/Home']" fragment="Industries">Pharmaceutical</p>
                <p class="services" [routerLink]="['/Home']" fragment="Industries"> Food & Beverage Processing</p>
                <p class="services" [routerLink]="['/Home']" fragment="Industries">Data Centres</p>
                <p class="services" [routerLink]="['/Home']" fragment="Industries">Corporate Offices</p>
                <p class="services" [routerLink]="['/Home']" fragment="Industries">Commercial Buildings</p>
                <p class="services" [routerLink]="['/Home']" fragment="Industries">Industrial & Manufacturing</p>
            </div>
            <br>
            <div class="col-md-2 Company">
                <p class="headlineservice">COMPANY</p>
                <p class="services" (click)=" scroll()" [routerLink]="['/About']">About Us</p>
                <p class="services" (click)=" scroll()" [routerLink]="['/Projects']">Projects</p>
                <p class="services" (click)=" scroll()" [routerLink]="['/Casestudies']">Case Studies</p>
                <!-- <p class="services" (click)=" scroll()" [routerLink]="['/Blog']">Blog</p> -->
                <p class="services" (click)=" scroll()" [routerLink]="['/Career']">Careers</p>
                <p class="services" (click)=" scroll()" [routerLink]="['/Culture']">Culture</p>
                <p class="services" (click)=" scroll()" [routerLink]="['/Contact']">Contact</p>
            </div>
            <br>

            <div class="text-end">
                <div class="icons">
                    <div class="icon">
                        <a href="https://www.linkedin.com/company/siddhivinayakengineering" target="_blank"><i
                                class="bi bi-linkedin"></i> </a>
                    </div>

                    <div class="icon">
                        <a href="https://www.facebook.com/profile.php?id=61569203423546" target="_blank"> <i
                                class="bi bi-facebook"></i> </a>
                    </div>

                    <div class="icon">
                        <a href="https://www.instagram.com/svespl_official/?hl=en" target="_blank"> <i
                                class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <hr>
    <div class="container">
        <span class="footers">

            <div class="span">
                © 2026 Siddhivinayak Engineering Solution Pvt. Ltd. All rights reserved.
            </div>
            <div class="powered">
                <p>Powered by: <a href="https://fourthdm.com/" target="_blank"><img src="/assets/4thdmlogo.png" alt=""
                            width="100"></a> </p>
            </div>

        </span>
    </div>

    <br><br>
</div>