<div class="aboutbackground">
    <div class="container">
        <!-- Top Heading -->
        <div class="heading-area">
            <span class="badge rounded-pill title">Case Studies</span>
        </div>
        <br>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4"  data-aos="flip-right">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <img src="/assets/project/Amonora/project-amanora.jpg" alt="Project" class="card-img-top"
                        alt="Project">

                </div>
                <div class="card-body casestudybody">
                    <p class="projectname">Amanora Township - VRF for Premium Residential Towers </p>
                    <p class="paragraph">A high-rise premium residential project (Tower 98 & 99)
                        required over 2000 HP of VRF
                        air conditioning, with complex installation logistics and strict alignment to
                        phased occupancy timelines. Execution also demanded tight budget control while managing
                        large-scale manpower deployment.</p>
                    <hr>
                    <div class="text-start">
                        <span class="casestudy" [routerLink]="['/AmaoraCaseStudy']"><b>READ FULL CASE STUDY <i
                                    class="bi bi-arrow-up-right"></i></b></span>
                    </div>
                </div>
            </div><br>
        </div><br>

        <div class="col-md-4"  data-aos="flip-right">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <img src="/assets/project/Emerson/project-emerson.jpg" alt="Project" class="card-img-top"
                        alt="Project">

                </div>
                <div class="card-body casestudybody">
                    <p class="projectname"> Emerson Innovation Centre - VRF System Modernisation </p>
                    <p class="paragraph">Upgrade of a critical innovation facility where HVAC reliability directly
                        impacted operational continuity and engineering performance.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum harum a qui! Itaque odit
                        laboriosam laudantium, sunt temporibus quibusdam blanditiis? Culpa, quas pariatur!</p>
                    <hr>
                    <div class="text-start">
                        <span class="casestudy" [routerLink]="['/MetroStationCasestudy']"><b>READ FULL CASE STUDY <i
                                    class="bi bi-arrow-up-right"></i></b></span>
                    </div>
                </div>
            </div><br>
        </div><br>

        <div class="col-md-4"  data-aos="flip-right">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <img src="/assets/project/Metro/project-metro.jpg" alt="Project" class="card-img-top" alt="Project">

                </div>
                <div class="card-body casestudybody">
                    <p class="projectname">Pune Metro Line 3 - Air Conditioning & Ventilation System </p>
                    <p class="paragraph">A large-scale public infrastructure programme spanning 23 metro stations,
                        administrative buildigs and supporting facilities-requiring HVAC and ventilation systems
                        engineered for continuous public use.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis et libero quae sit laboriosam
                        deleniti molestias
                    </p>
                    <hr>
                    <div class="text-start">
                        <span class="casestudy" [routerLink]="['/MetroStationCasestudy']"><b>READ FULL CASE STUDY <i
                                    class="bi bi-arrow-up-right"></i></b></span>
                    </div>
                </div>
            </div><br>
        </div><br>

        <div class="col-md-4"  data-aos="zoom-in-right">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <img src="/assets/project/Amonora/project-amanora.jpg" alt="Project" class="card-img-top"
                        alt="Project">

                </div>
                <div class="card-body casestudybody">
                    <p class="projectname">Kirloskar Avanthe (1st to 14 th Floor)</p>
                    <p class="paragraph">A high-rise premium residential project (Tower 98 & 99)
                        required over 2000 HP of VRF
                        air conditioning, with complex installation logistics and strict alignment to
                        phased occupancy timelines. Execution also demanded tight budget control while managing
                        large-scale manpower deployment.</p>
                    <hr>
                    <div class="text-start">
                        <span class="casestudy" [routerLink]="['/MetroStationCasestudy']"><b>READ FULL CASE STUDY <i
                                    class="bi bi-arrow-up-right"></i></b></span>
                    </div>
                </div>
            </div><br>
        </div><br>

        <div class="col-md-4"  data-aos="flip-right">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <img src="/assets/project/Amonora/project-amanora.jpg" alt="Project" class="card-img-top"
                        alt="Project">

                </div>
                <div class="card-body casestudybody">
                    <p class="projectname">Panasonic Avionics Center</p>
                    <p class="paragraph">A high-rise premium residential project (Tower 98 & 99)
                        required over 2000 HP of VRF
                        air conditioning, with complex installation logistics and strict alignment to
                        phased occupancy timelines. Execution also demanded tight budget control while managing
                        large-scale manpower deployment.</p>
                    <hr>
                    <div class="text-start">
                        <span class="casestudy" [routerLink]="['/MetroStationCasestudy']"><b>READ FULL CASE STUDY <i
                                    class="bi bi-arrow-up-right"></i></b></span>
                    </div>
                </div>
            </div><br>
        </div><br>

        <div class="col-md-4"  data-aos="zoom-in-left">
            <div class="card">
                <div class="bg-image hover-zoom">
                    <img src="/assets/project/Amonora/project-amanora.jpg" alt="Project" class="card-img-top"
                        alt="Project">

                </div>
                <div class="card-body casestudybody">
                    <p class="projectname">Tata Motors - Pimapri Plant </p>
                    <p class="paragraph">A high-rise premium residential project (Tower 98 & 99)
                        required over 2000 HP of VRF
                        air conditioning, with complex installation logistics and strict alignment to
                        phased occupancy timelines. Execution also demanded tight budget control while managing
                        large-scale manpower deployment.</p>
                    <hr>
                    <div class="text-start">
                        <span class="casestudy" [routerLink]="['/MetroStationCasestudy']"><b>READ FULL CASE STUDY <i
                                    class="bi bi-arrow-up-right"></i></b></span>
                    </div>
                </div>
            </div><br>
        </div><br>

    </div>
</div>