<!-- Solutions Section -->
<div class="solutionsection">
    <div class="container" data-aos="fade-up">

        <div class="text-center solution-heading">
            <h2>Comprehensive <span>HVAC & MEP Solutions</span> </h2><br>
            <p>SVESPL offers integrated HVAC and MEP engineering services designed to meet the diverse operational needs
                of industrial and commercial facilities.
                <br>
            </p>
        </div>
        <br>
        <div class="row solution-grid">
            

            <div class="col-md-4 solution-column">

                <div class="card solutioncard">

                    <img src="/assets/Solutions/4.png" class="solutionimage"
                        alt="Air-Cooled & Water-Cooled Chiller Plants">

                    <div class="card-body">

                        <h5 class="card-title">
                            Air-Cooled & Water-Cooled Chiller Plants
                        </h5>

                        <p class="card-text">
                            We design and execute centralized chiller plant
                            systems that provide reliable cooling for large
                            industrial and commercial applications. Every
                            system is engineered to deliver optimal
                            performance, efficient load management, and
                            dependable operation.
                        </p>

                    </div>

                    <div class="card-footer">

                        <div class="text-center">

                            <a href="#" class="btn btn-warnings"
                                [routerLink]="['/Air_Cooled&Water-Cooled_Chiller_Plants']">
                                Read More
                            </a>

                        </div>

                    </div>

                </div>

            </div>
            <!-- 
            <div class="col-md-4" data-aos="fade-up">

                <div class="card solutioncard">
                    <img src="/assets/Solutions/4.png" class="solutionimage" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Air-Cooled & Water-Cooled Chiller Plants</h5>
                        <p class="card-text">We design and execute centralized chiller plant systems that provide
                            reliable cooling for large industrial and commercial applications. Every system is
                            engineered to deliver optimal performance, efficient load management, and dependable
                            operation.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings"
                                [routerLink]="['/Air_Cooled&Water-Cooled_Chiller_Plants']">Read More</a>
                        </div>
                    </div>
                </div>
                <br>

            </div> -->
            <br>

            <div class="col-md-4 solution-column" >

                <div class="card solutioncard">
                    <img src="/assets/Solutions/5.png" class="solutionimage" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">VRV / VRF Systems</h5>
                        <br>
                        <p class="card-text">Our Variable Refrigerant Volume (VRV) and Variable Refrigerant Flow (VRF)
                            systems provide
                            intelligent climate control with flexible zoning, improved energy efficiency, and superior
                            occupant comfort for commercial spaces and multi-zone facilities.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/VRVVRF_SYSTEMS']">Read More</a>
                        </div>
                    </div>
                </div>
                <br>

                <!-- <div class="card solutioncard">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/Solutions/5.png" alt="Images" class="solutionimage"><br><br>
                            <p class="card-titles">VRV / VRF Systems</p>
                        </div>
                        <p>Our Variable Refrigerant Volume (VRV) and Variable Refrigerant Flow (VRF) systems provide
                            intelligent climate control with flexible zoning, improved energy efficiency, and superior
                            occupant comfort for commercial spaces and multi-zone facilities.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/VRVVRF_SYSTEMS']">Read More</a>
                        </div>
                    </div>
                </div><br><br> -->
            </div>
            <br>

            <div class="col-md-4 solution-column">

                <div class="card solutioncard">
                    <img src="/assets/Solutions/2.png" class="solutionimage" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Turnkey Clean Room Solutions</h5>
                        <br>
                        <p class="card-text">We develop complete cleanroom environments for pharmaceutical, healthcare,
                            biotechnology, electronics, and precision manufacturing industries where contamination
                            control, air quality, and environmental consistency are essential.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/VRVVRF_SYSTEMS']">Read More</a>
                        </div>
                    </div>
                </div>
                <br>

                <!-- <div class="card solutioncard">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/Solutions/2.png" alt="Images" class="solutionimage"><br><br>
                            <p class="card-titles">Turnkey Clean Room Solutions</p>
                        </div>
                        <p>We develop complete cleanroom environments for pharmaceutical, healthcare, biotechnology,
                            electronics, and precision manufacturing industries where contamination control, air
                            quality,
                            and environmental consistency are essential.</p>
                        <br>
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/TURNKEY_CLEAN_ROOM_SOLUTION']">Read
                                More</a>
                        </div>
                    </div>
                </div><br><br> -->

            </div>
            <br>

            <div class="col-md-2"></div>
            <div class="col-md-4 solution-column"> <br>

                <div class="card solutioncard">
                    <img src="/assets/Solutions/3.png" class="solutionimage" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Evaporative Cooling Systems</h5>
                        <br>
                        <p class="card-text">Our evaporative cooling solutions offer an economical and environmentally
                            responsible
                            approach to
                            cooling large industrial spaces, warehouses, workshops, and manufacturing units.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/EVAPORATIVE_COOLING']">Read
                                More</a>
                        </div>
                    </div>
                </div>
                <br>

                <!-- <div class="card solutioncard">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/Solutions/3.png" alt="Images" class="solutionimage"><br><br>
                            <p class="card-titles">Evaporative Cooling Systems</p>
                        </div>
                        <p>Our evaporative cooling solutions offer an economical and environmentally responsible
                            approach to
                            cooling large industrial spaces, warehouses, workshops, and manufacturing units.</p>
                        <div class="card-footer">
                            <div class="text-center">
                                <a href="#" class="btn btn-warnings" [routerLink]="['/EVAPORATIVE_COOLING']">Read
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <br>

            <div class="col-md-4 solution-column" ><br>
                <div class="card solutioncard">
                    <img src="/assets/Solutions/1.png" class="solutionimage" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Forced Ventilation Systems</h5>
                        <br>
                        <p class="card-text">Designed to improve airflow, remove excess heat, and maintain healthier
                            indoor environments, our forced ventilation systems enhance operational safety and workplace
                            productivity across industrial facilities.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/FORCED_VENTILATION']">Read More</a>
                        </div>
                    </div>
                </div>
                <br>

                <!-- <div class="card solutioncard">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/Solutions/1.png" alt="Images" class="solutionimage"><br><br>
                            <p class="card-titles">Forced Ventilation Systems</p>
                        </div>
                        <p>Designed to improve airflow, remove excess heat, and maintain healthier indoor environments,
                            our
                            forced ventilation systems enhance operational safety and workplace productivity across
                            industrial facilities.</p>
                        <div class="text-center card-footer">
                            <a href="#" class="btn btn-warnings" [routerLink]="['/FORCED_VENTILATION']">Read More</a>
                        </div>
                    </div>
                </div> -->
            </div>
            <br>

        </div>

        <br><br>
    </div>
</div>
